/* estilos generales */
body{
    font-family: "open sans";
}

/* estilos header */
header {
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: 1px;
    border-color: #000000;
    height: 20vh;
    align-content: center;
    padding: 21px;
}

header nav {
    align-items: center;
    color: #000;
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

/* estilos de section uno */

.section-uno{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.texto h1{
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
}

.texto p{
    font-size: 25px;
}

img{
    width: 30%;
    height: 60%;
    object-fit: contain;
}

button{
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 12px;
    font-weight: 700;
}
.section-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.texto-2 h2{
    font-size: 2.5rem;
}
.texto-2 ul {
    color: black;
    list-style: disc;
    flex-direction: column;

}