/* estilos header */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0E0D0D;
    color: #fff;
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    color: #fff;
    gap: 7px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}
.section-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.texto-2 h2{
    font-size: 2.5rem;
}
.texto-2 ul {
    color: black;
    list-style: disc;
    flex-direction: column;

}